.btn-danger{
  background-color:#b34853;
  border-color: #b34853;
}
.btn-danger:hover{
  background-color:#8a3840;
  border-color: #8a3840;
}
.tr-heared{
  background-color: #5169A9;
  color: white;
}